/* A appliquer à l'ensemble de la page */
body{
	text-align: center;
}

/* Mise en avant du formulaire par rapport aux autres éléments */
form{
	z-index: 100;
}

/* Tableau sur fond gris avec bordure noir */
table{
	margin: auto;
	border: solid;
	border-collapse: collapse;
	border-color: black;
	background-color: #A8ADAD;
}

/* Pour les cases du tableau, 15px de marge intérieure */
td{
	padding: 15px;
}

/* A appliquer pour tous les input et select */
input, select{
	width: 100%; /* Longueur : 100% de la case */
  padding: 12px 18px; /* Marge intérieure de 12*18px */
  margin: 5px; /* Marge extérieure de 5 px */
	/* Bordure des input et des select */
	border: solid 2px;
  border-radius: 40px;
  border-color: black;
  box-sizing: border-box;
}

/* Quand le focus est sur un input */
input:focus{
	outline: none;
	border-color: #025988;
}

/* Uniquement pour les input type='submit' */
input[type=submit]{
	background-color: skyblue; /* Fond bleu ciel */
	border-color: #044DF9; /* Bordure bleu foncé */
	height: 50px; /* Hauteur de 50 px */
	font-weight: bold; /* Ecrit en gras */
	font-size: 18px; /* Taille 18 pixels */
}

/* Uniquement pour les input type='submit' quand le curseur passe sur l'élément*/
input[type=submit]:hover{
	background-color: #5D73FC;
	border-color: #5D73FC;
	color: white;
	transition: 0.3s;
}

/* Si les données écrites par l'utilisateur ne correspondent pas au pattern */
input[type=text]:not(:placeholder-shown):invalid, input[type=number]:not(:placeholder-shown):invalid{
	border-color: red;
}

/* Pur le header en haut du tableau */
.header{
	padding: 0;
	background-color: #CED4D4;
}

/* Pour la ligne du tableau avec le submit */
.submit{
	background-color: #CED4D4;
}

/* Pour les liens de redirection vers accueil ou page précédente */
a{
	text-decoration: none;
}

/* Pour les puces lors des messages d'erreur */
li{
	text-align: left;
}
